html, body, #main {bottom: 0;font: 12px/14px Arial,Helvetica,sans-serif;height: auto;left: 0;margin: 0;overflow: hidden;position: absolute;right: 0;top: 0;}
#content{background-color:#cdcdcd; margin: 0;padding: 0;height: 100%;}

.header{line-height: 50px;background-color: #555555;border-bottom: 1px solid #ffffff;}  
.header > .row > div > div{vertical-align: middle; line-height: normal;}
.logo{text-align:center;}

.search{padding-top: 10px;max-height: 50px}
.search-button{vertical-align: top;}

.authorImg img {border: 1px solid transparent; border-radius: 5px;}
.profile{position: absolute;right: 20px;}
.profile .dropdown-menu{float: right;/*left: -100%;*/right: 0;}
#loading{
	width: 100%;
	height: 100%;
}
.load-spinner {
  margin: 200px auto 0;
  width: 120px;
  text-align: center;
}
.load-spinner > div {
  width: 30px;
  height: 30px;
  background-color: #d43f3a;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.load-spinner .bounce1 {
	background-color: #4cae4c;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.load-spinner .bounce2 {
	background-color: #eea236;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.con-status{
position: absolute; top:0; left:50%;z-index: 1000;
text-align: center;    
}
.con-status > .loading{
 background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}

.con-status > .con-error{
 background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}
#content {background-color:#cdcdcd;margin: 0;padding: 0;height: 100%;}

.controls{background-color: #efefef;border-bottom: 1px solid #FFFFFF;margin: 0;padding:3px;}
.controls .nav {margin-bottom: 0; padding: 4px 5px;}

.left-section  {height: 100%;background-color: #efefef;margin:0;padding:0}
.left-section .controls{text-align: center; border-right: 2px solid #dfdfdf;margin: 0 0 0 -2px; background-color: #909090;} 

.right-section {height: inherit;background-color: #cdcdcd;margin:0;padding:0}
.right-section .controls {border-bottom-color: #909090;}

.innerContent{height: inherit;padding: 0;}
.innerContent > .alist {overflow: auto;position: relative; height: 100%}

.left-section  .listRow{border-right: 1px solid #909090;}
.listRow{height: inherit;margin:0;padding:0}

.page {height: inherit;padding-bottom: 91px;}
/*.pageItem{margin: 0;padding: 0;height: inherit;}*/


.section{padding:5px;}
.sectionHeader{font-weight:bold;font-size:14px;padding-bottom:2px;color:#505050}
.sectionItem{padding-left:10px;padding-top:2px;padding-bottom:2px;color:#909090}
.sectionItem a {text-decoration: none;color:#909090}
.sectionItem .active {font-weight:bold; cursor:default;color:#007DC3}
.nav{padding: 5px 10px 5px 10px;margin-bottom: 5px;}
.nav li {padding: 0;}
.nav .active{font-weight:bold;}
.nav > li > a{padding: 6px 15px;outline: none;   
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;}
.nav > li > a:hover, .nav > li > a:hover{background-color: #dddddd; }
.nav > li > span{padding: 0px 15px 4px}

.itemCount{padding-right: 25px; text-align: right;line-height: 1.42857;}

.itemCount ul{
	list-style: none;
	margin: 0;
}

.itemCount ul li{
	display: inline-block;
	font-size: 14px;
	margin: 0;
	line-height: 1.42857;
}

.itemCount ul li:first-child{
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.itemCount ul li:last-child{
	margin-left: -3px;
}

.itemCount > ul > li:nth-child(2) > button{border-top-right-radius:0;border-bottom-right-radius:0}
.itemCount > ul > li:last-child > button{border-top-left-radius:0;border-bottom-left-radius:0}

.abtn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
 border-radius: 4px;border-bottom-left-radius: 0;
    border-top-left-radius: 0;
 }
 
 .sort-btn{min-width: 120px;}
 
 .noList{font-weight: bold;text-align: center;color: #ffffff;}
 
 .notifications{
position: absolute; top:0; right:0; max-width:35%;min-width:30%; z-index: 1000;margin: 10px;
}

.notifications .alert{
/*margin: 10px;*/
right: 0;
margin-bottom: 5px;
}

.flag-hi{color: #D9534F;}
.flag-md{color: #5CB85C;}
.flag-lw{color: #F0AD4E;}

.abtn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){border-radius: 4px;border-bottom-left-radius: 0;border-top-left-radius: 0;}

.modal-body > .row{padding: 5px;}
.detail {
    background-color: #efefef;
    border: 1px solid #909090;
    border-radius: 5px;
    margin: 4px 8px;
    padding: 6px;
    position: relative;
}

.detail .name {
    border-bottom: 1px solid #909090;
    color: #007dc3;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    padding: 0 4px 4px;
}

.detail > .row ,.varsCon > .row{
    /*margin: 0;*/
    padding: 4px 2px 2px;
}
.detail > .varsCon{
	padding: 4px 2px 2px;
}
.varsCon > .row{
	margin: 0;
}

.detail .edit, .tabset .edit, .edit > .btn {
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 3px;
}
.detailCol > .detail, .detailCol > .tabsCon {
    margin-right: -35px;
}
.detail .authorImg img, .tabsCon .authorImg img{width: 30px; height: 30px;}


.tabsCon {
    background-color: #efefef;
    border: 1px solid #909090;
    border-radius: 5px;
    margin: 4px 10px 4px 6px;
    padding: 5px;
    position: relative;
}

.tabsCon .nav-tabs {
    border-bottom: 1px solid #909090;
    color: #007dc3;
    padding: 0 10px;
}

.tabsCon .tab-content {
    height: 160px;
    overflow: auto;
}

.tabsCon .nav-tabs{color: #007DC3;border-bottom: 1px solid #909090;padding: 0 10px;}

.tabsCon .nav-tabs > li.active > a, .tabsCon .nav-tabs > li.active > a:hover, .tabsCon .nav-tabs > li.active > a:focus {
    background-color: #efefef;
    border-color: #909090 #909090 transparent;
    color: #007dc3;
}

.tabsCon .nav-tabs > li:not(.active) > a:hover {
  border-color: #DFDFDF #DFDFDF #909090;
  cursor: pointer;
}

.tabsCon .tab-content > .tab-pane {
   /* margin-left: 15px;
    margin-right: 15px;*/
    padding-top: 4px;
}

.tabset .tab-edit, .tabset .tab-edit-con {
    margin-right: -5px;
    margin-top: 6px;
}

.tab-pane .line-row{
	/*padding-top: 2px;padding-bottom: 2px;
	margin: 0;*/
	margin-left: -10px;
    margin-right: 0;
    padding: 3px;
}

.subRow {
    margin-right: 0;
}

.hname {
    color: #007dc3;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    vertical-align: middle;
}

.nav > li.sectionHeader {
    background-color: transparent;
    background-repeat: no-repeat;
    line-height: 22px;
    /*padding-left: 24px; padding: 0;
    padding-right: 24px;*/
}

.nav > li.sectionHeader span{padding: 0;}

.eventsTable {
    width: 100%;
}

.eventsTable td {
    width: 50px;
}

/*.eventsTable .line-row{line-height: normal;}*/
.eventsTable .authorImg img {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
/*.eventsTable .eventCon{
	width: auto;
	margin: 4px  0 2px 0;
	padding: 0 2px 0 2px;*/
	/*min-width: 80%;*/
/*}*/
.eventsTable .left-event {
	text-align: right;
	}
.eventsTable .right-event {
	}
.eventsTable .popover {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 75%;
    max-width: 90%;
    position: relative;
    z-index: 0;
    vertical-align: middle;
}
.eventsTable > div, .eventsTable > div > div{margin: 0;}
/*.eventsTable .popover.left{float: right;}*/

.eventsTable .popover.left {
    margin-right: 10px;
    margin-left: 0;
}

.eventsTable .popover-title {
    font-size: 10px;
    font-weight: bold;
    line-height: normal;
    padding: 4px 14px;
}

.eventsTable .popover-title > div:first-child {
    padding-right: 120px;
}

.eventsTable .popover-title > div:last-child {
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    right: 10px;
    top: 5px;
}

.emptyList {
	font-size:13px;
    padding: 10px;
    text-align: center;
}

.eventsList {
    height: 500px;
    overflow: auto;
}

.select-list {
    height: 200px;
    overflow: auto;
}

.select-list-con > .row:first-child {
    padding-bottom: 5px;
}

.invalid {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

/*.task-col{
	padding-top: 8px;
}*/
.line-row {
	line-height: 30px;
}
.line-row > div, .header-row > div {
    vertical-align: middle;
}
/*.header-row{line-height: 12px;}*/

.detail > .header-row{
	padding: 0; margin: 2px;
}
.header-row > div{
	padding: 0 4px 4px;
}
.header-row > .edit-col{
	font-size: 12px;
}
.edit-col{
	padding-left: 0;
	padding-right: 6px;
	/*margin-left: 0;
	margin-right: 0;*/
	/*float: right;*/
	text-align: right;
}
/*.edit-col > .btn {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    padding: 0 3px;
}*/
.edit-col > .label{
	display: inline-block;
	vertical-align: middle;
}
.nav > li > .item {
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  color: #428bca;
}
.nav > li > .item:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav-pills > li > .item {
  border-radius: 4px;
}

.nav-pills > li.active > .item,
.nav-pills > li.active > .item:hover {
  color: #fff;
  background-color: #428bca;
}


.confirm {
    font-size: 14px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-footer .opp-float{
	float: left;
}
.rowsCon > .line-row, .colsCon > .line-col, .identity-link, .desc {
	background-color: #dddddd;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 2px 3px;
}

.desc, .detail .desc{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.desc > div, .detail .desc > div{
	padding: 0;
}

.rowsCon > .img-row {
	line-height: 30px;
}

.rowsCon > .simple-row {
	line-height: 2;
}

.scollable-rows{
	max-height: 220px;
	overflow: auto;
}

.identity-link{
	line-height: 30px;
	/*float: left;*/
	display:inline-block;
	min-width: 280px;
	/*width: 45%;*/
	padding: 5px;
}
.identity-link > .identity-info{float: right;}

/*.identity-link-con > div:first-child {
    float: left;
}
.identity-link-con > div:last-child {
    float: right;
}*/

.identity-link-con{
	/*min-height: 50px;*/
	display: table;
	width: 100%;
}
/*.task-page .identity-link-con{width: 100%;}*/
.task-page .identity-link {width: 48%;}
.float-left{float: left;}
.float-right{float: right;}

.colData{margin: 0; padding:0 10px 0 15px;}

.diagram{min-height: 120px;}
.diagram, #list .diagram > div{text-align: center; margin-bottom: 1px;}
#list .diagram > img, #list .diagram > .svgCon{max-height: 300px; max-width: 600px;display: inline-block;}
#list .diagram > .svgCon{width: 100%;}
.svgCon > svg{height: 100%; width: 100%;}

/*
svg > g > .stencils > .edge > g .stencils .me > g > path{marker-end: url(#sid-2FFC7422-8033-4188-8129-FA45CEE5FC4Dend)} 
*/
.diagram > span, .diagram > div > span{
 border-radius: 0.25em;
    color: #fff;
    font-size: 75%;
    display: inline;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
}
.diagram > div > span.png{
	background-color: #f0ad4e;
}
.diagram > div > span.svg{
	background-color: #5bc0de;
}

.login-msg {
   height: 16px;padding: 5px;
}
.login-msg > .label {
	 display: block;
    text-align: center;
}

.loginForm .form-group{
	margin-bottom: 5px;
}
.loginForm .modal-body{
	padding: 20px 20px 15px;
	
	}
	.loginForm .modal-footer{
	margin-top: 0;
	padding: 9px 10px 10px;
	}
.loginForm .lang{	
width: 100px;display: inline-block;
}
.alert-dismissable{padding-left:15px;}
.alert .alert-content, .alert-dismissable .close{
	display: table;
	vertical-align: middle;
	top: 0;
}
.alert .alert-content{
white-space: nowrap;}
.alert .alert-content > span{
	vertical-align: middle;
	display: inline-block;
}
.alert .alert-content  a{
	color: inherit;
	}
.alert-icon {
	margin-right: 5px;
}
.alert-success .alert-icon:before{
	content: "\f058";
}
.alert-danger .alert-icon:before{
	content: "\f057";
}
.alert-warning .alert-icon:before{
	content: "\f071";
}

.alert-info .alert-icon:before{
	content: "\f05a";
}
.btn-profile{
	background-color: #555555;border-color: #555555;color: #fff;
	
}
.btn-profile:hover, .btn-profile:focus, 
.btn-profile:active, .btn-profile.active, 
.open .dropdown-toggle.btn-profile{
	background-color: #666666;border-color: #666666;color: #fff;
}

.profile-col {text-align: right; padding-right: 40px;}
.profile-col .btn-group{text-align: left;} 
.profile-col img{width: 35px; height: 35px;} 
.profile-col .dropdown-menu{width: 100%;}

.logo div {background: #555555 url("../img/logo.png") no-repeat center;height: 50px;border: 1px solid transparent; border-radius: 5px;}